// .leftPanel {
//   width: 20vw;
//   background: url('/user-bg.jpg') top / cover no-repeat;
//   box-shadow: 3px 0 8ch rgba(0, 0, 0, 0.08);
//   position: relative;
//   min-height: '100vh';
//   height: auto;
// }

.container {
  min-height: 100vh;
  height: auto;
}

.rightPanel {
  width: 80vw;
  padding: 2rem;
  // background-color: #f1f3f5; // gray[1]
  display: flex;
  flex-direction: column;
  align-items: center;
}

.leftPanel {
  width: 20vw;
  background: url('/user-bg.jpg') top / cover no-repeat;
  box-shadow: 3px 0 8ch rgba(0, 0, 0, 0.08);
  position: relative;
  min-height: 100vh;
  height: auto;
  overflow: hidden;
}

.leftPanel::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}
