.heading {
  font-size: 1.4rem;
  z-index: 1003;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.caption {
  padding: 0.6rem;
  font-size: 0.95rem;
  text-align: center;
}

.link {
  &:hover {
    background-color: white;
  }
}

.topInfo {
  align-content: center;
}

.stationCard {
  z-index: 1003;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
