/* styles/globals.css */
// @import './variables.scss';
// @use './variables.scss' as *;

body {
  // background-color: #fafdd6;
  background-color: white;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
